# Ignore the compiled Xylon Engine, Fuck you if you want the compiled Xylon Engine
bin/
obj/
CMakeFiles/
./cmake_install.cmake
./CMakeCache.txt
./Makefile

# IDE Files
*.vscode/
*.idea/

# Temp files
*.log
*.tmp
